# vi:set ft=yaml :
http:
  # http server for accessing ssh keys and config files in home dir
  # Must be accessible from within containers
  address: 192.168.99.1  # <%= `ifconfig | awk '/inet addr/{print substr($2,6)}' | head -1` %>
  port: 8080
auth:  # basic auth for serving your content over http while building the image
  user: username
  password: password
docker:
  # The network the containers use to communicate. Available inside as http://dev.docker
  # For docker-machine (boot2docker) this would be default 192.168.99.100
  # The docker run option "--net host" is not used because of issues with both windows and osx platform, so this is
  # a workaround
  net: 172.17.0.1
ssh:
  keys:  # lookup in ~/.ssh/
  - id_rsa  # first sshkey should not require a passphrase -> used in dockerfile for private github repo
  - id_rsa_avarteq
cf:
  # cf login credentials - only relevant with cf module
  api: https://api.aws.ie.a9s.eu
  user: xxx
  password: xxx
git:
  files:  # lookup in ~
  - .gitconfig
  - .gitignore_global
modules:
  - elixir
  - ruby
  - node
  - php
  - cf
